:root {
    --carousel-text: rgb(255, 255, 255);
}

.black-text-white-background h5,
.black-text-white-background p {
    color: var(--carousel-text);
}

.black-text-white-background,
.black-text-white-background-button {
    background: rgba(127, 127, 127, 0.5);
    backdrop-filter: blur(4px);
}

.black-text-white-background {
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.black-text-white-background-button {
    border-radius: 45px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.avoid-large {
    /* Configurado um tamanho máximo para a pagina inicial, porque alguns 
        itens ficam muito grandes em monitores maiores.
        */
    max-width: 75em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.logo-text {
    max-width: 80px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.avoid-large-picture {
    max-width: 300px !important;
}

.thumbBackground {
    background-position: center;
    background-size: cover;
}

.thumbBackdrop {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.5);
}

.thumbBackdropEdit {
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5);
}

.extra-youtube {
    aspect-ratio: 16/9;
    height: auto;
}

.extra-img {
    aspect-ratio: 16/9;
    height: auto;
    position: relative;
}

.download-button {
    position: absolute;
    right: 0;
    bottom: 0;
}

.picture-logo,
.social-icon,
.download-icon {
    width: 32px;
    height: 32px;
}

.warning-icon {
    width: 64px;
    height: 64px;
}

[data-bs-theme="dark"] .download-icon,
[data-bs-theme="dark"] .warning-icon,
[data-bs-theme="dark"] .social-icon {
    filter: invert();
}

.overflow-wrap-break-word {
    overflow-wrap: break-word;
}

.movie-cover {
    object-fit: cover;
    max-height: 15em;
    aspect-ratio: 12/5;
}

#carousel {
    aspect-ratio: 12/5;
}
#carousel div.carousel-item {
    height: 100%;
}

#carousel img {
    height: 100%;
    object-fit: cover;
}

.background-size-cover {
    background-size: cover !important;

}