:root {
    --carousel-text: rgb(255, 255, 255);
}

.black-text-white-background {
    background: rgba(77, 77, 77, 0.7);
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.black-text-white-background h5,
.black-text-white-background p {
    color: var(--carousel-text);
}

.black-text-white-background-button {
    background: rgba(131, 131, 131, 0.5);
    border-radius: 90px;
    padding-top: 24px;
    padding-bottom: 24px;
}

[data-bs-theme="dark"] .social-icon {
    filter: invert();
}

.picture-logo,
.social-icon {
    width: 32px;
    height: 32px;
}

.avoid-large {
    /* Configurado um tamanho máximo para a pagina inicial, porque alguns 
        itens ficam muito grandes em monitores maiores.
        */
    max-width: 75em;
}

.logo-text {
    max-width: 70px;
    font-size: medium !important;
    text-wrap: auto !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}